$breakpoint-telephone: 420px;
$breakpoint-tablet: 768px;


.Exercice__Presentation {
  margin: auto;
  width: 95%;
  padding: 10px;
  display: flex;

  &__Resum {
    border: 2px solid #316117;
    border-radius: 10px;
    width: 50%;
    text-align: center;

    &__Title {
      margin: 20px;
      color: black;
      font-size: 28px;
    }

    &__Team {
      font-weight: bold;
      font-size: 18px;

    }

    &__Text {
      font-size: 18px;
      width: 66%;
      margin: auto;
      padding: 10px;
      word-wrap: break-word;
    }
  }
}





@media (max-width: $breakpoint-tablet) {
  .Exercice__Presentation {
    display: flex;
    flex-direction: column;


    &Presentation {
      width: 80%;
    }

    &__Text {
      display: flex;
      flex-direction: column;
      align-content: center;

    }
  }
}