@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';

.login {
  @include flexbox-column;
  align-items: center;

  .h1-login {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .register-link {
    text-decoration: none;
    color: orange;
  }
}

.container-login {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
  margin-bottom: 2rem;

  .form-separation {
    background-color: $light-blue;
    width: 2px
  }
}

.form-login {
  @include flexbox-column;

  .input-container-login {
    @include auth-input-container;
  }

  .input-login {
    @include auth-input;
  }
}