.Exercice__List {
  width: 98%;
  margin: auto;
  padding: 10px;
  border: 2px solid #316117;
  border-radius: 10px;

}

.Exercice__Presentation {
  display: flex;

    &__Text {
    width: 40%;
    text-align: center;

    &__Title {
      margin: 20px;
      font-size: 28px;
    }

    &__Team {
      font-weight: bold;
      font-size: 18px;

    }

  }

  &__Resum {
    font-size: 18px;
    width: 66%;
    margin: auto;
    padding: 10px;
    word-wrap: break-word;
  }
}


